html {
  font-size: 14px;
  box-sizing: border-box;

  --color-primary: #0095ff;
  --color-primary-rgb: 0, 149, 255;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMac SystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h2,
h3 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  background-image: linear-gradient(
    to right,
    rgba(185, 193, 195, 0) 0%,
    rgba(185, 193, 195, 0.8) 30%,
    rgba(185, 193, 195, 0.8) 70%,
    rgba(185, 193, 195, 0) 100%
  );
  border: none;
  height: 1px;
  min-height: 1px;
  flex-shrink: 0;
}

input {
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  width: 7rem;
  border: 1px solid #767676;
  border-radius: 0.15rem;
}

input:focus {
  outline: none;
  border: default;
  box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.3);
}
