html {
	font-size: 14px;
	box-sizing: border-box;

	--color-primary: #0095ff;
	--color-primary-rgb: 0, 149, 255;
	--color-background-rgb: 255, 255, 255;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMac SystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
h2,
h3 {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

hr {
	background-image: linear-gradient(
		to right,
		rgba(185, 193, 195, 0) 0%,
		rgba(185, 193, 195, 0.8) 30%,
		rgba(185, 193, 195, 0.8) 70%,
		rgba(185, 193, 195, 0) 100%
	);
	border: none;
	height: 1px;
	min-height: 1px;
	flex-shrink: 0;
}

input {
	font-size: 1.25rem;
	padding: 0.25rem 0.5rem;
	width: 7rem;
	border: 1px solid #767676;
	border-radius: 0.15rem;
}

input:focus {
	outline: none;
	border: default;
	box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.3);
}

.number-input {
	font-size: 1.4rem;
	border: 1px solid #767676;
	border-radius: 0.15rem;
	display: flex;
	align-items: center;
}
.number-input > input {
	border: none;
	text-align: right;
	padding-left: 0;
}
.number-input > input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
.number-input:focus-within {
	box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.3);
}

.number-input .currency-symbol {
	padding-left: 0.5rem;
	height: 100%;
	position: relative;
}

.number-input .currency-fadeout-right {
	position: absolute;
	right: -0.25rem;
	z-index: 999;
	width: 0.25rem;
	height: 100%;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 25%,
		rgba(255, 255, 255, 0) 100%
	);
}

.react-css-collapse-transition {
	transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.client-name-title {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}

.setup-section {
	margin: 0 0 2rem 1rem;
}

.setup-section-title {
	font-size: 1.75rem;
	margin-bottom: 1.5rem;
	border-left: 4px solid var(--color-primary);
	padding-left: 0.5rem;

	cursor: pointer;
	user-select: none;
	display: inline-block;
}

.setup-retirement-grid {
	display: grid;
	grid-template-columns: max-content auto auto;
	width: min-content;
	height: fit-content;
	gap: 0.5rem;
	grid-gap: 1rem;
	align-items: center;
	margin: 1rem 0 4rem 2rem;
}

.setup-retirement-grid label {
	font-size: 1.15rem;
	font-weight: bold;
	margin-right: 0.5rem;
}

.setup-retirement-additional-section {
	margin-left: 2rem;
}

.setup-retirement-additional-title {
	font-size: 1.25rem;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	margin-bottom: 1.5rem;
	border-left: 3px solid var(--color-primary);
	padding-left: 0.5rem;
}

.variation-section {
	margin-right: 2rem;
	margin-bottom: 1.5rem;
}

.variation-section h3 {
	margin: 0 0 0.75rem 0;
}

.variation-section-buttons {
	margin-left: 0.5rem;
}

.variation-section-button {
	border: 2px solid var(--color-primary);
	/* border: none; */
	padding: 0.1rem 0.5rem;
	margin-right: 0.25rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

	color: var(--color-primary);
	background-color: white;
	/* background-color: var(--color-primary); */
	font-weight: bold;
}

.variation-section-button.active,
.variation-section-button:hover {
	/* color: var(--color-primary); */
	color: white;
	background-color: var(--color-primary);
}

.top-row {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.top-row-section {
	text-align: center;
}

.top-row-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.top-row-subtitle {
	font-size: 1rem;
	font-style: italic;
}
.top-row-value {
	padding: 0.5rem 0 0.25rem 0;
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-primary);
}

.nav-tab {
	width: 12rem;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 0.25rem 0;
	font-size: 1.2rem;
	font-weight: bold;
	color: #b9c1c3;
	background: none;
	text-decoration: none;
	cursor: pointer;

	/* border-radius: 3px; */
	border-top: 3px solid white;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 2px solid #eee;
}

.nav-tab:focus:not(:focus-visible) {
	outline: none;
}
.nav-tab:last-child:not(.active) {
	border-right: 2px solid white;
}
.nav-tab:first-child:not(.active) {
	border-left: 2px solid white;
}
.nav-tab:last-child.active {
	border-right: 2px solid #eee;
}
.nav-tab:first-child.active {
	border-left: 2px solid #eee;
}

.nav-tab:hover,
.nav-tab:active,
.nav-tab.active {
	text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.04), 1px 1px 8px rgba(30, 30, 30, 0.03),
		1px 1px 14px rgba(30, 30, 30, 0.02);
	color: var(--color-primary);
}

.nav-tab.active {
	border-bottom: 2px solid white;
	border-top: 3px solid var(--color-primary);
}
