html {
	font-size: 14px;
	box-sizing: border-box;

	--color-primary: #0095ff;
	--color-primary-rgb: 0, 149, 255;
	--color-background-rgb: 255, 255, 255;
	--color-border: #767676;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMac SystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
h2,
h3 {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

hr {
	background-image: linear-gradient(
		to right,
		rgba(185, 193, 195, 0) 0%,
		rgba(185, 193, 195, 0.8) 30%,
		rgba(185, 193, 195, 0.8) 70%,
		rgba(185, 193, 195, 0) 100%
	);
	border: none;
	height: 1px;
	min-height: 1px;
	flex-shrink: 0;
}

input {
	font-size: 1.25rem;
	padding: 0.5rem 0.75rem;
	width: 8rem;
	border: 1px solid var(--color-border);
	border-radius: 0.15rem;
}

input:focus {
	outline: none;
	border: default;
	box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.3);
}

.number-input {
	font-size: 1.25rem;
	border: 1px solid var(--color-border);
	border-radius: 0.15rem;
	display: flex;
	align-items: center;
}
.number-input input {
	border: none;
	text-align: right;
	padding-left: 0;
	width: 100%;
	min-width: 8rem;
}
.number-input input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}
.number-input:focus-within {
	box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.3);
}

.number-input .currency-symbol {
	min-width: 0;
	width: 1.25ch;
	background-color: white;
	color: #333;
	padding-left: 0.55rem;
	padding-right: 0.25rem;
	border-radius: 0;
	user-select: none;
}

.react-css-collapse-transition {
	transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.page-container {
	width: 1300px;
	max-width: 90%;
	max-height: 100%;
	margin: 4rem auto 0 auto;
}

.client-name-title {
	font-size: 2rem;
	margin-bottom: 3rem;
	display: inline-block;
}

.client-name-title-input {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
	min-width: 12rem;
	width: unset;
}

.navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}

.setup-section {
	margin: 0 0 2rem 1rem;
}

.setup-section-title {
	font-size: 1.75rem;
	margin-bottom: 1.5rem;
	border-left: 4px solid var(--color-primary);
	padding-left: 0.5rem;

	cursor: pointer;
	user-select: none;
	display: inline-block;
}

.setup-retirement-grid {
	display: grid;
	grid-template-columns: max-content auto auto;
	width: min-content;
	height: fit-content;
	gap: 0.5rem;
	grid-gap: 1rem;
	align-items: center;
	margin: 1rem 0 4rem 2rem;
}

.setup-retirement-grid.three-input {
	grid-template-columns: max-content auto auto auto;
}

.setup-retirement-grid label {
	font-size: 1.15rem;
	font-weight: bold;
	margin-right: 0.5rem;
}

.setup-retirement-additional-section {
	margin-left: 2rem;
}

.setup-retirement-additional-title {
	font-size: 1.25rem;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	margin-bottom: 1.5rem;
	border-left: 3px solid var(--color-primary);
	padding-left: 0.5rem;
}

.retirement-chart-container {
	width: 100%;
	flex-shrink: 1;
	/* height: 200px; */
	/* style={{ width: '1000px', height: '500px' }} */
}

.variation-section-wrapper {
	margin-right: 3rem;
}

.variation-section {
	margin-bottom: 1.5rem;
	width: max-content;
}

.variation-section h3 {
	margin: 0 0 0.75rem 0;
}

.variation-section-buttons {
	margin-left: 0.5rem;
	margin-bottom: 0.25rem;
}

.variation-section-button {
	border-radius: 0.5rem;
	border: 2px solid var(--color-primary);

	padding: 0.1rem 0.5rem;
	margin: 0 0.25rem 0.25rem 0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

	color: var(--color-primary);
	background-color: white;
	font-weight: bold;
	cursor: pointer;
}

.variation-section-button.active,
.variation-section-button:hover {
	color: white;
	background-color: var(--color-primary);
}

.variation-section-button-subtitle {
	display: inline-block;
	font-weight: bold;
	width: 4.5rem;
}

.retirement-results-top-row {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.retirement-results-top-row-section {
	text-align: center;
}

.retirement-results-top-row-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.retirement-results-top-row-subtitle {
	font-size: 1rem;
	font-style: italic;
}
.retirement-results-top-row-value {
	padding: 0.5rem 0 0.25rem 0;
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-primary);
}

.nav-tab {
	width: 12rem;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 0.25rem 0;
	font-size: 1.2rem;
	font-weight: bold;
	color: #b9c1c3;
	background: none;
	text-decoration: none;
	cursor: pointer;

	/* border-radius: 3px; */
	border-top: 3px solid white;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 2px solid #eee;
}

.nav-tab:focus:not(:focus-visible) {
	outline: none;
}
.nav-tab:last-child:not(.active) {
	border-right: 2px solid white;
}
.nav-tab:first-child:not(.active) {
	border-left: 2px solid white;
}
.nav-tab:last-child.active {
	border-right: 2px solid #eee;
}
.nav-tab:first-child.active {
	border-left: 2px solid #eee;
}

.nav-tab:hover,
.nav-tab:active,
.nav-tab.active {
	text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.04), 1px 1px 8px rgba(30, 30, 30, 0.03),
		1px 1px 14px rgba(30, 30, 30, 0.02);
	color: var(--color-primary);
}

.nav-tab.active {
	border-bottom: 2px solid white;
	border-top: 3px solid var(--color-primary);
}

.additional-details-section {
	display: grid;
	margin-top: 1rem;
	grid-template-columns: repeat(4, max-content max-content);
	/* grid-template-columns: max-content max-content max-content max-content; */
	/* grid-template-columns: repeat(auto-fit, max-content); */
	/* grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr)); */
}

.additional-details-section * {
	padding: 2px 10px;
}

.checkbox {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	/* border: 1px solid var(--color-border); */
	border: none;
	box-shadow: 0 0 0 1px var(--color-border);
	display: inline-block;
	flex-shrink: 0;
	cursor: pointer;
	user-select: none;
	padding: 0; /* To override default button styles */
	background-color: white;
	margin: 2px;
}

.checkbox svg {
	width: 70%;
	margin: 15%;
	display: inline-block;
	visibility: hidden;
}

.checkbox:hover:not(.checked) svg {
	visibility: visible;
	fill: #bbb;
}

.checkbox.checked,
.checkbox:active {
	/* border-color: var(--color-primary);
	border-width: 2px; */
	box-shadow: 0 0 0 2px var(--color-primary);
	/* margin: 0; */
}
.checkbox.checked svg {
	visibility: visible;
	fill: var(--color-primary);
}
