html {
	font-size: 14px;
	box-sizing: border-box;

	--color-primary: mediumseagreen;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.client-name {
	font-size: 2rem;
}

.navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.nav-tab {
	border: 1px solid #444;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.nav-tab.active {
	font-weight: bold;
}

.variation-section {
}

.variation-section-button {
	border: 2px solid var(--color-primary);
	border-radius: 0.5rem;
	color: var(--color-primary);
	font-weight: bold;
}

.variation-section-button.active {
	color: blue;
}

.top-row {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.top-row-section {
	text-align: center;
}
